.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

ul.social {
	padding-left: 0;
	list-style: none;
}

.sidebar-about h1 {
font-size: 2.25rem;
}

.content {
    padding-bottom: 0;
}

footer {
    font-size: .7em;
}

.related {
	padding-top: 0;
}

.page, .post {
	margin-bottom:0;
}

.post img {
	width:100%
}

#mc_embed_signup{
  width:300px;
  margin: 0 auto;
}

#mc_embed_signup input.email{
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin:5px 0;
  width: 250px;
  text-align:center;
}

#mc_embed_signup input.button {
  background: #ac4142;
  width: 250px;
  margin:5px 0;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

#mc_embed_signup input.button:hover {
  background: #bf616a;
  text-decoration: none;
}

#archives .categories ul{
  list-style: none;
  overflow: hidden;
  padding:0;
}

#archives .categories a.category{
  background-color: #bf616a;
  color: #FFF;
  border-radius: 5px;
  padding: 5px
}

#archives .categories ul li {
  float:left;
  margin: 10px 5px;
}

#archives .posts{
  margin-top:5px;
  clear: both;
}

#archives .posts ul{
  list-style: none;
}
