.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

ul.social {
	padding-left: 0;
	list-style: none;
}

.sidebar-about h1 {
font-size: 2.25rem;
}

.content {
    padding-bottom: 0;
}

footer {
    font-size: .7em;
}