<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>
	  <li class="sidebar-nav-item{% if page.title == "About Me" %} active{% endif %}">
        <a href="/about/">About</a>
      </li>
	   <li class="sidebar-nav-item{% if page.title == "Resources" %} active{% endif %}">
        <a href="/resources/">Resources</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Archives" %} active{% endif %}">
        <a href="/archives/">Archives</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.

		  {% assign pages_list = site.pages %}
		  {% for node in pages_list %}
			{% if node.title != null %}
			  {% if node.layout == "page" %}
				<li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
				  <a href="{{ node.url }}">{{ node.title }}</a>
				</li>
			  {% endif %}
			{% endif %}
		  {% endfor %}
	   {% endcomment %}

       <ul class="social">
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}

        {% if site.rss_feed %}<li>
          <a href="site.rss_feed">
            <i class="fa fa-rss"></i>
          </a>
        </li>{% endif %}
      </ul>
    </ul>
  </div>
</div>
